<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--estilos-->
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/news.css" />
    <!--Fuentes-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Rubik&display=swap"
      rel="stylesheet"
    />
    <title>Database</title>
  </head>
  <body>
    <!--Inicio de container del nav-bar-->
    <div id="nav-bar">
      <!--Inicio de cabecera-->
      <header id="cabecero" class="margin width-100">
        <h1 class="logo">
          <a class="text-logo" href="./index.html">Vaccination</a>
        </h1>
        <!--Inicio de la nav-bar-->
        <nav id="menu">
          <ul>
            <li>
              <a href="./views/database.html">Database</a>
            </li>
            <li>
              <a href="#">Education</a>
            </li>
            <li>
              <a href="./views/news.html">News</a>
            </li>
            <li>
              <a href="#">Regulation</a>
            </li>
          </ul>
        </nav>
        <!--Fin de la nav-bar-->
        <!--Inicio de botton-->
        <a class="box-botton" href="#">
          <input class="button" type="button" value="Hoax Buster" />
        </a>
        <!--Fin de botton-->
      </header>
      <!--Fin de cabecera-->
    </div>
    <!--Fin del nav-bar-->

    <div class="width-100 container-home-page">
      <!--Inicio de imagen-->
      <img
        class="home-image-complete"
        src="../assets/img/bacteria.png"
        alt="Imagen de bacteria"
      />
      <h1 class="text-over-img">Stay Informed. Knowledge is Power.</h1>
    </div>
    <!--Fin de imagen-->

    <!--Noticia 1-->
    <h2 class="title title-margin">Lastest news</h2>
      <div class="layout-row news-layout">
        <div class="layout-column margin width-50">
          <div class="cont-text width-100">
            <h3 class="title-box padding-r20">
              Declaración final acerca de la décima reunión del Comité de
              Emergencias del Reglamento Sanitario Internacional
            </h3>
            <p class="text-big padding-r20">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem
              rerum veritatis, expedita labore vero cupiditate hic soluta dolorem
              voluptas accusamus porro error ex ut iusto pariatur corrupti
              distinctio. Facere, voluptatum!
            </p>
          </div>
            <div class="layout-row width-">
              <img
                class="layout-row width-100"
                src="http://integrisok.com/-/media/News/2020/healthcare-ppe-1151376157.ashx?revision=6db9a23f-bbb2-4f04-b5fb-49faa8ff52b8"
                alt=""
              />
            </div>
        </div>
        <!--Noticia 2-->
    
     <div class="layout-column margin width-50">
          <div class="cont-text width-100">
            <h3 class="title-box padding-r20">
              Declaración final acerca de la décima reunión del Comité de
              Emergencias del Reglamento Sanitario Internacional
            </h3>
            <p class="text-big padding-r20">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem
              rerum veritatis, expedita labore vero cupiditate hic soluta dolorem
              voluptas accusamus porro error ex ut iusto pariatur corrupti
              distinctio. Facere, voluptatum!
            </p>
          </div>
          <div>
            <div class="layout-row width-">
              <img
                class="layout-row width-100"
                src="http://integrisok.com/-/media/News/2020/healthcare-ppe-1151376157.ashx?revision=6db9a23f-bbb2-4f04-b5fb-49faa8ff52b8"
                alt=""
              />
            </div>
          </div>
        </div>
        <!--Noticia 3-->
    
        <div class="layout-column margin width-50">
          <div class="cont-text width-100">
            <h3 class="title-box padding-r20">
              Declaración final acerca de la décima reunión del Comité de
              Emergencias del Reglamento Sanitario Internacional
            </h3>
            <p class="text-big padding-r20">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem
              rerum veritatis, expedita labore vero cupiditate hic soluta dolorem
              voluptas accusamus porro error ex ut iusto pariatur corrupti
              distinctio. Facere, voluptatum!
            </p>
          </div>
          <div>
            <div class="layout-row width-">
              <img
                class="layout-row width-100"
                src="http://integrisok.com/-/media/News/2020/healthcare-ppe-1151376157.ashx?revision=6db9a23f-bbb2-4f04-b5fb-49faa8ff52b8"
                alt=""
              />
            </div>
          </div>
        </div>

        <div class="layout-column margin width-50">
          <div class="cont-text width-100">
            <h3 class="title-box padding-r20">
              Declaración final acerca de la décima reunión del Comité de
              Emergencias del Reglamento Sanitario Internacional
            </h3>
            <p class="text-big padding-r20">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem
              rerum veritatis, expedita labore vero cupiditate hic soluta dolorem
              voluptas accusamus porro error ex ut iusto pariatur corrupti
              distinctio. Facere, voluptatum!
            </p>
          </div>
          <div>
            <div class="layout-row width-">
              <img
                class="layout-row width-100"
                src="http://integrisok.com/-/media/News/2020/healthcare-ppe-1151376157.ashx?revision=6db9a23f-bbb2-4f04-b5fb-49faa8ff52b8"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>

      
    
    <footer class="margin">
      <div class="footer-brand">
        <h1 class="logo text-logo">Vaccination</h1>

        <p class="text-big margin-top">
          Our goal is help the <br />
          world free from the <br />
          ongoing pandemic <br />
        </p>
        <p class="text-grey margin-top">&copy; 2021 Vaccination. All rights</p>
      </div>

      <div class="footer-column">
        <div class="footer-row">
          <div class="footer-brand-terms">
            <h1 class="title-box">About</h1>
            <p class="text-box">About</p>
            <p class="text-box">Features</p>
            <p class="text-box">News & Blog</p>
          </div>

          <div class="footer-brand-terms">
            <h1 class="title-box">Company</h1>
            <p class="text-box">How We Work?</p>
            <p class="text-box">Capital</p>
            <p class="text-box">Security</p>
          </div>

          <div class="footer-brand-terms">
            <h1 class="title-box">Support</h1>
            <p class="text-box">FAQs</p>
            <p class="text-box">Support Center</p>
            <p class="text-box">Contact Us</p>
          </div>
        </div>
        <div class="terms">
          <p class="text-grey margin-right">Terms & Agreements</p>
          <p class="text-grey">Privacy Policy</p>
        </div>
      </div>
    </footer>
  </body>
</html>
