<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--estilos-->
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/database.css">
     <!--Fuentes-->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Rubik&display=swap" rel="stylesheet">
    <title>Database</title>
</head>
<body>
        
        <div id="nav-bar"><!--Inicio de container-->
            <header id="cabecero" class="margin width-100"> <!--Inicio de cabecera-->
            <h1 class="logo"><a class="text-logo" href="../index.html">Vaccination</a></h1>
              <nav id="menu">
                <ul>
                  <li>
                    <a href="./database.html">Database</a>
                  </li>
                  <li>
                    <a href="#">Education</a>
                  </li>
                  <li>
                    <a href="#">News</a>
                  </li>
                  <li>
                    <a href="#">Regulation</a>
                  </li>
                </ul>
              </nav>
              <a class="box-botton" href="#">
                <input class="button" type="button" value="Hoax Buster" />
              </a>
            </header><!--Fin de la cabecera-->
        </div>

        <div class="width-100 container-home-page"><!--Inicio de imagen-->
            <img class="home-image-complete" src="../assets/img/bacteria.png" alt="Imagen de bacteria">
                <h1 class="text-over-img ">Stay Informed. Knowledge is Power.</h1>
        </div><!--Fin de imagen-->

        

        <div class="news-cont">
            
        </div>
        
</body>
</html>