* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*
nav bar
*/
.layout-navbar ul{
  display: flex;
  padding: 2% 2% 0% 2%;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
}

.logo{
  font-family: 'Courier New', Courier, monospace;
  color: blue;
  font-size: 20px;
  font-weight: bold;
  background-color: red;
  flex-grow: 3;
}
.elementos{
  font-family: 'Courier New', Courier, monospace;
  background-color: blueviolet;
  flex-grow: 4;
}
.boton{
    font-family: 'Courier New', Courier, monospace;
    background-color: aqua;
    border: 2;
}